/* Custom CSS */

.myvideo{
    width:100%;
    height:500px;
    display:block;
    float:left;
}

.myvideo2 {
  width:100%;

  display:block;
  float:left;
  position: relative;
  
  
}


@font-face {
  font-family: "Helvetica Neue"，"Arial",  "STHeiti Light ", "Microsoft YaHei", sans-serif;
}
body {
  font-family:  "Helvetica Neue", "Arial", "STHeiti Light", "Microsoft YaHei"
}
blockquote {
  font-size: .95em;
}




